{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
  },
  "plugins": ["@typescript-eslint", "unused-imports", "jsx-a11y"],
  "extends": [
    "eslint:recommended",
    "next",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
  ],
  "globals": {
    "React": true,
    "JSX": true,
  },
}
